body {
}
       /*Css for navbar*/

.white {
  background-color: white;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar-header a img {
  width: auto;
  height: 30px;
  padding-right: 50px;
  padding-bottom: 7px;
}

ul.navbar-right li button {
  color: blue;
  border: 1px solid blue;
  margin-top: 10px;
  background-color: white;
  border-radius: 3px;
}

.navbar {
  margin-bottom: 0;
  border-color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: blue;
}

.navbar-default {
  background-color: white;
}


          /*CSS for jumbotron*/

.myjumbotron {
  background-image: url(../img/jumbo.svg);
  margin-top: 50px;
  background-size: cover;
}

.marginforjumbo {
  margin: 15% 0;
}

.marginforjumbo h1 {
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
}

.marginforjumbo p {
  font-size: 20px;
  color: lightgrey;
}

div.white {
  padding: 30px;
  border-radius: 5px;
}

.marginforjumbo .white h2,
.marginforjumbo .white h6{
  text-align: center;
}

.marginforjumbo .white h2 span {
  color: blue;
}

.marginforjumbo .white input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.marginforjumbo .white button {
  height: 50px;
  width: 100%;
  background-color: blue;
  color: white;
  margin-bottom: 2px;
  border-radius: 5px;
}

#myfix1 {
  text-align: left;
  background-color: white;
  color: black;
  border-color: grey;
}

#google img{
  width:5%;
  height:auto;
  margin-right: 150px;
}


      /*CSS for Section 2*/

.mysection2 {
  background-color: #f3f5f9;
  text-align: center;
  padding: 35px 0;
}

section.mysection2 img {
  max-width: 100%;
}

      /*CSS for Section 3*/

.mysection3 {
  padding: 35px 0;
  text-align: center;
}

section.mysection3 p,
section.mysection2 p {
  color: grey;
  font-size: 20px;
}

.myborder-list {
  border-left: 1px solid grey;
}

div.myborder-list ul {
  list-style: none;
  margin-top: 30px;
}

div.myborder-list ul li {
  padding-right: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: grey;
}

section.mysection3 img {
  margin-top: 40px;
  display: block;
}

section.mysection3 h3,
section.mysection3 p {
  text-align: left;
}

section.mysection2 p{
  margin-bottom: 30px;
}

section.mysection2 i.fa-chevron-left,
section.mysection2 i.fa-chevron-right{
  padding-top: 300px;
  font-size: 30px;
}

section.mysection2 h6 {
  margin-top: 50px;
  font-size: 15px;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid blue;
  background-color: blue;
}

.mysection6 {
  background: linear-gradient(to bottom, #2285fd, #031c4e);
  padding: 50px 0;
  text-align: center;
  color: white;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-top: 0px solid #ddd;
  border-bottom: 1px solid #ddd;
}

table.table tr td a{
  color: turquoise;
}

@media (max-width: 1200px) AND (min-width: 768px) {

  #google img{
  margin-right: 30px;
  }

  section.mysection2 img {
    max-width: 50%;
  }

}

section.mysection3 a {
  text-align: left;
  display: block;
  color: blue;

@media (max-width: 768px) {


}
